{% block content %}

{% if fullad %}
объявление
<br>
<br>
{{ fullad.title }}
<br>
<br>
автор
<br>
<br>
{{ fullad.author }}
<br>
<br>
текст
<br>
<br>
категория
<br>
<br>
{{ fullad.categories }}
<br>
<br>
{{ fullad.description }}
<br>
<br>
цена
<br>
<br>
{{ fullad.price }}
<br>
<br>
{% if fullad.file%}
<img src="{{ fullad.file.url }}" width="100px">
{% endif %}
<br>
<br>
дата объявления
<br>
<br>
{{ fullad.created_at }}
<br>
<br>
<button><a href='{% url "update" fullad.pk %}'>Edit</a></button>
<button><a href='{% url "delete" fullad.pk %}'>Delete</a></button>
<br>
<br>
<button><a href="/board">Назад к списку</a></button>
{% endif %}
<br>
<br>
{% if reply in replies %}
    <table>
        <td>{{ reply.author }}</td>
        <td>{{ reply.data }}</td>
        <td>{{ reply.reply_text }}</td>
    </table>
{% endif %}
<hr>
<button><a href="reply/create/">Создать отклик</a></button>

<button><a href="'board/<int:pk>/update/">Редактировать</a></button>

{% endblock content %}