{% block content %}

<!--<table>-->
<!--    <tr>-->
<!--        <td>объявление</td>-->
<!--        <td>текст</td>-->
<!--        <td>цена</td>-->
<!--        <td>дата объявления</td>-->
<!--    </tr>-->
<!-- {% if fullad %}-->
<!--    <tr>-->
<!--        <td>{{ fullad.title }}</td>-->
<!--        <td>{{ fullad.description }}</td>-->
<!--        <td>{{ fullad.price }}</td>-->
<!--        <td>{{ fullad.created_at }}</td>-->
<!--    </tr>-->
<!--</table>-->

объявление
<br>
{{ fullad.title }}
<br>
текст
<br>
{{ fullad.description }}
<br>
цена
<br>
{{ fullad.price }}
<br>
дата объявления
<br>
{{ fullad.created_at }}
<br>
<a href='{% url "update" fullad.pk %}'>Edit</a>
<a href='{% url "delete" fullad.pk %}'>Delete</a>
<br>
<a href="/">Назад к списку</a>
{% endif %}
{% endblock content %}